<section class="map">
  <svg id="mapSvg" [attr.width]="width" [attr.height]="height">
    <path
      *ngFor="let feature of mapData?.features; let i = index"
      [attr.d]="path?.(feature)"
      [class.hovered]="
        feature === currentHoveredFeature && !selectedFeatures.has(feature)
      "
      [class.clicked]="selectedFeatures.has(feature)"
      (mouseenter)="handleMouseEnter($event, feature)"
      (mouseleave)="handleMouseLeave($event, feature)"
      (click)="handleClick($event, feature)"
    ></path>
  </svg>

  <!-- <app-tooltip [content]="currentHoveredFeature?.properties?.name" /> -->

  @if(currentHoveredFeature) {
  <div class="map__info">
    <h3>{{ currentHoveredFeature.properties.name }}</h3>
    <p>Population: {{ currentHoveredFeature.properties.pop_est }}</p>
  </div>
  }

  <div class="map__selected-countries">
    <h4>Selected Countries:</h4>
    <ul>
      @for (selectedFeature of selectedFeatures; track
      selectedFeature.properties.woe_id) {
      <li>
        {{ selectedFeature.properties.name }}
      </li>
      }
    </ul>
  </div>
</section>
