<div class="map">
  <svg id="mapSvg" [attr.width]="width" [attr.height]="height">
    <path
      *ngFor="let feature of mapData?.features"
      [attr.d]="path?.(feature)"
      [class.hovered]="
        feature === currentHoveredFeature && !clickedFeatures.includes(feature)
      "
      [class.clicked]="clickedFeatures.includes(feature)"
      (mouseenter)="currentHoveredFeature = feature"
      (click)="handleClick(feature)"
    ></path>
  </svg>

  <div *ngIf="currentHoveredFeature">
    <h3>{{ currentHoveredFeature?.properties.name }}</h3>
    <p>Population: {{ currentHoveredFeature?.properties?.pop_est }}</p>
  </div>

  <app-tooltip [content]="currentHoveredFeature?.properties.name" />
</div>
